---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - external-secrets
  - metallb
  - cert-manager
  - traefik
  - external-dns
  - vpa
  - kured
  - reloader
{%- if secrets_backend == 'onepassword' %}
  - onepassword-connect
{%- endif %}
{%- if vpn_tailscale %}
  - tailscale-operator
{%- endif %}
{%- if gpu == 'nvidia' %}
  - nvidia-device-plugin
{%- endif %}
